.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 100px;
}
.logout-btn {
  height: 30px;
  width: 100px;
  background-color: transparent;
  cursor: pointer;
  border-style: outset;
  border-color: grey;
  border-radius: 6px;
  margin-right: 10px;
}
.nav-img {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .logout-btn {
    width: 80px;
    height: 25px;
    font-size: 15px;
  }
  .nav-img {
    height: 50px;
    width: 70px;
  }
}
